/* * Body */

body {
	/* font-size: 36px; */
	background: rgb(34, 34, 34);
	color: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

/* * Header */

header,
h2 {
	padding: 20px;
}

/* * margin-left: 20px */
.p5Canvas,
.resultsDiv,
button {
	margin-left: 20px;
}

/* * Navigation */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 20px;
}

nav li a {
	color: white;
	height: 100px;
	margin-top: 40px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
}

nav li :hover {
	text-decoration: underline;
}

/* * h1, h2, p */

h1,
h2,
p {
	text-align: center;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 2.5em;
}

p {
	font-size: 1.5em;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.resultsDiv {
	font-size: 2em;
}

/* * Section */
.feature-box {
	display: flex;
	flex-flow: row wrap;
}

.feature-box div {
	font-size: 3.5em;
	text-align: center;
	padding: 20px;
	flex: 1 1 0px;
}

/* * Instructions */
.instructionsLetterClassifier {
	position: absolute;
	right: 0;
	margin-right: 30px;
}

/* * Button */
button {
	border-radius: 45px;
	font-size: 1.5em;
	color: black;
	background-color: white;
	box-shadow: 0 8px 15px rgba(255, 255, 255, 0.26);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin-top: 10px;
	padding: 10px;
}

button:hover {
	box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.3);
	transform: translateY(-5px);
}

/* Button on home page. */
.projectButton {
	margin: auto;
	display: block;
	font-size: 2em;
	padding: 13px;
}

/* * Footer */
footer,
.footer {
	/* position: fixed; */
	/* width: 100%; */
	height: 20px;
	bottom: 0;
	text-align: center;
	font-size: 1em;
	padding: 10px;
	color: white;
	background-color: rgb(34, 34, 34);
}

section {
	margin-bottom: 40px;
}


/* * Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(34, 34, 34);
	/* Same colour as background
	 so you don't see it.
  */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* * Smaller screens */
@media screen and (max-width: 650px) {
	.feature-box {
		flex-flow: column wrap;
	}

	.feature-box div {
		font-size: 50px;
	}
}

/* * Fixes for instructionsLetterClassifier */
@media screen and (max-width: 1460px) {
	.instructionsLetterClassifier ul {
		font-size: 30px;
	}
}

@media screen and (max-width: 1300px) {
	.instructionsLetterClassifier ul {
		font-size: 25px;
	}
}

@media screen and (max-width: 1160px) {
	.instructionsLetterClassifier ul {
		font-size: 20px;
	}
}

@media screen and (max-width: 1020px) {
	.instructionsLetterClassifier {
		display: none;
	}
}

/* * Fix for annoying horizontal scroll on mobile */
.antiscroll {
	user-select: none;
	touch-action: none;
	-webkit-user-select: none;
}